{{ if or .Values.Networkpolicy.Ingress .Values.Networkpolicy.Egress }}
kind: Networkpolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: allow-tmc-rules
  namespace: {{ .Values.Namespace }}
spec:
  podSelector: {}
  policyTypes:
{{ if .Values.Networkpolicy.Ingress }}
  - Ingress
{{ end }}
{{ if .Values.Networkpolicy.Egress }}
  - Egress
{{ end }}
{{ if .Values.Networkpolicy.Ingress }}
  ingress:
  - from:
    - namespaceSelector:
        matchLabels:
          component: {{ .Values.Networkpolicy.Ingress }}
{{ end }}
{{ if .Values.Networkpolicy.Egress }}
  egress:
  - from:
    - namespaceSelector:
        matchLabels:
          component: {{ .Values.Networkpolicy.Egress }}
{{ end }}
{{ end }}