{{- $name := include "stripPrefixSuffixFromName" . }}
{{- if .Values.Alerts.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: {{ .Release.Namespace }}-alerting-status
  labels:
    role: alert-rules
    prometheus: cloud-platform
spec:
  groups:
    - name: application-rules
      rules:
        - alert: OOMKiller 
          annotations:
            message: :alert:Service '{{"{{" }} $labels.pod {{"}}"}}' 
          expr: (kube_pod_container_status_restarts_total{job="kube-state-metrics",namespace="{{ .Release.Namespace }}"} - kube_pod_container_status_restarts_total{job="kube-state-metrics",namespace="{{ .Release.Namespace }}"} offset 10m >= 1) and ignoring (reason) min_over_time(kube_pod_container_status_last_terminated_reason{job="kube-state-metrics",namespace="{{ .Release.Namespace }}",reason="OOMKilled"}[10m]) == 1
          labels:
            severity: {{ default $name .Values.Alerts.severity }}
        - alert: TooManyContainerRestarts 
          annotations:
            message: :alert:Service '{{"{{" }} $labels.pod {{"}}"}}' was restarted many times
          expr: sum(increase(kube_pod_container_status_restarts_total{namespace="{{ .Release.Namespace }}",pod_template_hash=""}[15m])) by (pod,namespace,container) > 20 
          for: 0m
          labels:
            severity: {{ default $name .Values.Alerts.severity }}
        - alert: CrashLoopBackOff 
          annotations:
            message: :alert:Service '{{"{{" }} $labels.pod {{"}}"}}' CrashLoopBackOff
          expr: sum by (namespace, pod) (kube_pod_status_phase{job="kube-state-metrics",namespace="{{ .Release.Namespace }}",phase=~"CrashLoopBackOff"}) > 0
          for: 0m
          labels:
            severity: {{ default $name .Values.Alerts.severity }}
        - alert: PodNotReadyKube
          annotations:
            message: :alert:Service '{{"{{" }} $labels.pod {{"}}"}}' has not been in a non-ready state for more than 15 minutes
          expr: sum by(namespace,pod)(kube_pod_status_phase{job="kube-state-metrics",namespace="{{ .Release.Namespace }}",phase=~"Pending|Unknown"}) > 0
          for: 15m
          labels:
            severity: {{ default $name .Values.Alerts.severity }}
        - alert: WebappRestartAlert
          annotations:
            message: :alert:Service '{{"{{" }} $labels.pod {{"}}"}}' Webapp has restarted.
          expr: (sum(increase(kube_pod_container_status_restarts_total{container="webapp", namespace="{{ .Release.Namespace }}"}[10m])) by (container, namespace)) > 0
          for: 5m
          labels:
            severity: {{ default $name .Values.Alerts.severity }}     
        - alert: AuthProxyRestartAlert
          annotations:
            message: :alert:Service '{{"{{" }} $labels.pod {{"}}"}}' Auth proxy comtainer has restarted.
          expr: (sum(increase(kube_pod_container_status_restarts_total{container="auth-proxy", namespace="{{ .Release.Namespace }}"}[1m])) by (container, namespace)) > 0
          for: 1m
          labels:
            severity: {{ default $name .Values.Alerts.severity }}     
{{- end }}
