{{- $name := include "stripPrefixSuffixFromName" . }}
{{- if .Values.Alerts.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: {{ .Release.Namespace }}-alerting-resource
  labels:
    role: alert-rules
    prometheus: cloud-platform
spec:
  groups:
    - name: application-rules
      rules:
        - alert: CpuUsageHigh 
          annotations:
            message: :warning:Service '{{"{{" }} $labels.container {{"}}"}}' cpu usage above threshold of {{ .Values.Alerts.cpuUsage }}%.
          expr: (sum by (pod, namespace) (rate (container_cpu_usage_seconds_total{container="webapp", namespace="{{ .Release.Namespace }}"}[1m]))) / max by (pod, namespace) (kube_pod_container_resource_limits{container="webapp", namespace="{{ .Release.Namespace }}"}) * 100 > {{ .Values.Alerts.cpuUsage }}
          for: 1m
          labels:
            severity: {{ default $name .Values.Alerts.severity }}
        - alert: MemUsageHigh 
          annotations:
            message:  :warning:Service '{{"{{" }} $labels.container {{"}}"}}' memory usage above {{ .Values.Alerts.memoryUsage }}%.
          expr: ((( sum(container_memory_working_set_bytes{container="webapp", namespace="{{ .Release.Namespace }}"}) by (namespace,container,pod)  /  sum(kube_pod_container_resource_limits{container="webapp",namespace="{{ .Release.Namespace }}",unit="byte"}) by (namespace,container,pod) ) * 100 ) < +Inf ) > {{ .Values.Alerts.memoryUsage }}
          for: 1m
          labels:
            severity: {{ default $name .Values.Alerts.severity }}
        - alert: HighPersistantVolumeUsage 
          annotations:
            message: :warning:Service '{{"{{" }} $labels.container {{"}}"}}' Persistent volume is using more than {{ .Values.Alerts.pvcUsage }}%
          expr:  ((((sum(kubelet_volume_stats_used_bytes{namespace="{{ .Release.Namespace }}"}) by (namespace,persistentvolumeclaim)) / (sum(kubelet_volume_stats_capacity_bytes{namespace="{{ .Release.Namespace }}"}) by (namespace,persistentvolumeclaim)))*100) < +Inf ) > {{ .Values.Alerts.pvcUsage }}
          for: 5m
          labels:
            severity: {{ default $name .Values.Alerts.severity }}
{{- end }}