{{- $secretName := printf "%s-auth0" .Values.WebApp.Name }}
{{- $cookieSecret := (randAlphaNum 32) }}
{{- $namespace := .Values.Namespace }}
{{- $existingSecret := lookup "v1" "Secret" $namespace $secretName }}
{{- if and $existingSecret (ne (index $existingSecret.data "cookie_secret" | b64dec) "") }}
  {{- $cookieSecret = index $existingSecret.data "cookie_secret" }}
{{- else }}
  {{- $cookieSecret = $cookieSecret | b64enc }}
{{- end }}
---
apiVersion: v1
kind: Secret
metadata:
  name: "{{ .Values.WebApp.Name }}-auth0"
type: Opaque
data:
  client_secret: {{ .Values.Secrets.Auth0.ClientSecret | b64enc | quote }}
  client_id: {{ .Values.Secrets.Auth0.ClientId | b64enc | quote }}
  cookie_secret: {{ $cookieSecret | quote }}
---
apiVersion: v1
kind: Secret
metadata:
  name: "{{ .Values.WebApp.Name }}-parameters"
type: Opaque
data:
  {{ range $key, $value := .Values.Secrets.WebApp.Parameters -}}
  {{ $key }}: {{ $value | b64enc | quote }}
  {{ end -}}
